{% extends 'base.html' %}
{% load static %}

{% block title %}
  Наши товары
{% endblock %}

{% block content %}
    <div id="main" class="product-list">
        <h1>Products</h1>
        {% for item in item_list %}
            <br>
            <div class="item">
                <h3><a href="{% url 'items:item_detail' item.id %}">{{ item.name }}</a></h3>
                <br>
                <p>{{ item.description|linebreaks }}</p>
                <br>
                <p>${{ item.get_display_price }}</p>
                <a href="{% url 'items:item_detail' item.id %}">подробная информация</a>
            </div>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
{% endblock %}