{% extends 'items/base.html' %}
{% load static %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>            
            {% for el in cart %} 
            {% with item=el.item %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <form action="{% url 'cart:cart_add' item.id %}" method="post">
                            {{ el.update_quantity_form.quantity }}
                            {{ el.update_quantity_form.update }}
                            <input type="submit" value="Update"> 
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><a href="{% url 'cart:cart_remove' item.id %}">Remove</a></td>
                    <td class="num">${{ item.get_display_price }}</td>
                    <td class="num">${{ el.total_price }}</td>
                    {% endwith %}                    
                </tr>
            {% endfor %}   
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>             
        </tbody>
    </table>
    <p class="text_right">
        <a href="{% url 'items:item_list' %}" class="button light">Continue shopping</a>
        {% if cart.get_total_price > 0 %}
            <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
        {% endif %}
    </p>
{% endblock %}
    
    